--- 
data_arguments:
  save_path: /home/program/path-dig/image/output
  data_dir: D:/project/SLFCD/dataset/ais/data/1-CG23_18831_01.svs
model_arguments:
  num_workers: 4
  # number of classes
  n_classes: 4
  device: cuda:1
  batch_size: 256
  
  cls_arguments:
     patch_level: 1
     patch_size: 256
     step_size: 128
     
  # arguments for initializing model from checkpoint
  cls_ckpt_path_1: /home/bavon/project/SLFCD/SLFCD/clam/resnet18-f37072fd.pth
  cls_ckpt_path_2: /home/bavon/project/SLFCD/SLFCD/results/combine/task_1_tumor_vs_normal_CLAM_50_all_s1/s_0_checkpoint.pt
  ais_ckpt_path: /home/bavon/project/SLFCD/SLFCD/YOLO/runs/detect/train/weights/best.pt
  hsil_ckpt_path: /home/bavon/project/SLFCD/SLFCD/YOLO/runs/detect/train3-hsil/weights/best.pt
  lsil_ckpt_path: /home/bavon/project/SLFCD/SLFCD/YOLO/runs/detect/train5-lsil/weights/best.pt
  
  img_size: 1280
  patch_size: 640
  slide_size: 320
  
ais_arguments:
  patch_level: 1
hsil_arguments:
  patch_level: 1
lsil_arguments:
  patch_level: 0
  
seg_arguments:
  seg_level: 1
  sthresh: 8
  mthresh: 7
  close: 4
  use_otsu: False
  keep_ids: none
  exclude_ids: none
filter_arguments:
  a_t: 100
  a_h: 16
  max_n_holes: 8
vis_arguments:
  vis_level: 1
  line_thickness: 250
patch_arguments:
  use_padding: true
  contour_fn: four_pt_easy


